tmp
dump

.cache-tests
.cache-main

#Eclipse
/.idea
/.idea_modules
.classpath
.project
.settings
.scala_dependencies
bin

#sbt
dist
project/boot
project/target
project/plugins/target
target
.target

#play
logs
RUNNING_PID
